extends main.pug 

block datos 
    form(role='form', method="POST", action="/productos")
        h1="Ingrese aquí los datos del producto"
        label(style="display: inline; margin:5px", for="name")="Ingrese Nombre" 
        input(style='padding: 5px; margin:5px', type="text", id="name", name="name")
        label(style="display: inline; margin:5px", for="price")="Ingrese Precio"
        input(style='padding: 5px; margin:5px', type="text",id="price", name="price")
        label(style="display: inline; margin:5px", for="stock")="Ingrese el Stock"
        input(style='padding: 5px; margin:5px', type="text",id="stock", name="stock")
        br
        button(style="margin-top: 15px", type="submit")="Enviar"

    br
    hr
    br

    if productos.length < 1
        h3="No hay Productos"
    else
        table
            th(style="padding: 5px; border: 3px solid #dddddd; background-color: #61b4e1a3")="Nombre"
            th(style="padding: 5px; border: 3px solid #dddddd; background-color: #61b4e1a3")="Precio"
            th(style="padding: 5px; border: 3px solid #dddddd; background-color: #61b4e1a3")="Stock"
                each val in productos 
                    tr(style="border: 1px solid #dddddd;")  
                        th(style="border: 1px solid #dddddd;")=val.name
                        th(style="border: 1px solid #dddddd;")=val.price
                        th(style="border: 1px solid #dddddd;")=val.stock
    
        